header{
    nav{
        @include flex(row,nowrap,flex-start,baseline,0px);
    }
}

.navbar-nav{
    li{
        a{
            font-family: "Karantina";
            color: map-get($colores,color4);
            font-size: map-get($fuente,sm);
            &:hover{
                color:map-get($colores,color2);
            }
        }
    }
    
}