.navBar{
    @include flex(row,nowrap,space-between,center,none);
    margin: 0px 10px;
    font-family: "Karantina";
    color:map-get($colores,color4 );
    font-size: map-get($fuente,sm );
    position: sticky;
    top: 0;
    z-index: 1000;
    
}