*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

a{
    list-style: none;
    text-decoration: none;
    color:map-get($colores, color4 );
    font-family: "Karantina";
    font-size: map-get($fuente , m );
    font-weight: 200;
    letter-spacing: 1.5px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: baseline;
    &:hover{
        color: map-get($colores, color2 )
    }
}

ul{
    list-style: none;
}

body{
    background-image:url("../assets/TornamentMode\ logo-02-opaco.png");
    background-repeat: repeat;
    background-size: contain;
    background-color: map-get($colores, color1 );
    font-family: "popins";
}

h2{
    font-family: "Karantina";
    font-weight: bold;
    font-size: map-get($fuente , md );
    text-align: center;
    color: map-get($colores, color4 );
    text-decoration-line: underline;
    text-decoration-color: map-get($colores , color2 );
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
}

p{
    font-family:"Popins";
    font-weight: 300;
    color: map-get( $colores , color4 );
    font-size: map-get($fuente, sm );
    margin: 24px 24px;
}


